.wrapper {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 10;
  .inner {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .actions {
      display: flex;
      align-items: center;
      .more-btn {
        margin-left: 20px;
        font-size: 20px;
        padding: 8px;
      }
      .action-btn {
        padding: 6px 16px;
        border: none;
        background-color: transparent;
        font-size: 20px;
      }
      .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: 20px;
      }
    }
  }
}
