.wrapper {
  height: 80px;
  .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
      background-color: #1618230f;
      width: 300px;
      height: 40px;
      border-radius: 20px;
      display: flex;
      position: relative;
      input {
        flex: 1;
        background-color: transparent;
        padding-left: 10px;
        caret-color: #fe2c55;
      }
      button {
        background-color: transparent;
      }
      .clear,
      .loading {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 30px;
      }
      .search-btn {
        padding-right: 10px;
      }
    }
    .search-result {
      width: 300px;
      .search-label {
        padding: 10px 10px;
      }
    }
    .actions {
      display: flex;
      align-items: center;
      .more-btn {
        margin-left: 20px;
        font-size: 20px;
        padding: 8px;
      }
      .action-btn {
        padding: 6px 16px;
        border: none;
        background-color: transparent;
        font-size: 20px;
      }
      .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: 20px;
      }
    }
  }
}
